
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aprendendo Matemática</title>
    <link rel="stylesheet" href="/static/bootstrap.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">Aprendendo Matemática</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Aprendendo Matemática</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/calc-triangulo">Calcular Tipo de Triângulo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/media-notas">Calcular Média de Notas</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
   
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <h1 class="mb-4">Bem-vindo ao Site Flask!</h1>
                <a href="/calc-triangulo" class="btn btn-primary btn-lg btn-block">Calcular Tipo de Triângulo</a>
                <a href="/media-notas" class="btn btn-secondary btn-lg btn-block mt-3">Calcular Média de Notas</a>
            </div>
        </div>
    </div>
    
</body>
</html>